{% block content %}
<div class="container-m">
    <div class="row">
        <div class="col">
            <div class="card bg-light text-dark bg-opacity-50  p-2">
                <div class="d-flex align-items-center">
                    <div class="col p-3">
                        <form class="row justify-content-md-center" id="rating" method="POST">
                            {% csrf_token %}

                            {{form}}
                            
                            <button class="btn btn-success p-2" type="submit">Add Book</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}