{%extends 'base.html'%}

{% block content %}
<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-dark bg-opacity-50" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form class="row justify-content-md-center" method="POST" action="">
                            <div class="mb-md-5 mt-md-4 ">
                                <label class="form-label">Are you sure you want return "{{obj}}"?</label>
                                {% csrf_token %}
                            </div>
                            <button class="btn btn-outline-primary btn-lg p-2 " type="submit">Return</button>
                        </form>
                        <a href='{%url "home" %}'><button class="btn btn-outline-danger btn-lg   ">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}