{% if request.user.is_staff %}
<header class="p-3 text-bg-dark bg-opacity-50  ">
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/books/?page=1" class="nav-link px-2 text-white">Books</a></li>
        <li><a href="/rented" class="nav-link px-2 text-white">Already Rented</a></li>
        <li><a href="/add_book" class="nav-link px-2 text-white">Add Book</a></li>
      </ul>

      <div class="text-end">
        <span class="navbar-text px-2 text-white">{{request.user |capfirst }}</span>
        <a href="/logout"><button type="button" class="btn btn-outline-light me-2" href="/logout">Logout</button></a>
      </div>

    </div>
  </div>
</header>
{% elif request.user.is_authenticated %}
<header class="p-3 text-bg-dark bg-opacity-50 ">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/books/?page=1" class="nav-link px-2 text-white">Books</a></li>
        <li><a href="{% url 'my-book' %}" class="nav-link px-2 text-white">My books</a></li>
        <li><a href="{% url 'return-history' %}" class="nav-link px-2 text-white">Rent history</a></li>
      </ul>
      <div class="text-end">
        <div class="text-end">
          <span class="navbar-text px-2 text-white">{{request.user |capfirst }}</span>
          <a href="/logout"><button type="button" class="btn btn-outline-light me-2" href="/logout">Logout</button></a>
        </div>
      </div>

    </div>
  </div>
</header>
{% else %}
<header class="p-3 text-bg-dark bg-opacity-50 ">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="" class="nav-link px-2 text-white">News</a></li>
        <li><a href="" class="nav-link px-2 text-white">Contact</a></li>
      </ul>
      <div class="text-end">
        <a href="/login">
          <button type="button" class="btn btn-outline-light me-2" href="/login">Login</button>
        </a>
        <a href="/register">
          <button type="button" class="btn btn-primary">Sign-up</button>
        </a>
      </div>
    </div>
  </div>
</header>
{% endif %}