{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-start">
        <div class="col">
            <h1> Today new books</h1>
            <br>
            <h1> Rent your perfect book</h1>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100 py-5">
        <form method="GET" class="d-flex" action="{% url 'search' %}">
            <input class="form-control form-control-lg me-2" placeholder="Search" name="q">
            <button class="btn btn-outline-primary btn-lg " type="submit">Search</button>
        </form>
    </div>

    <h1 class="text-center"> You should check this book </h1>


    {% for book in books %}
    <div class="card mb-3 bg-light text-dark bg-opacity-50 h-100 " style="max-width: 760px;">
        <div class="row">
            <div class="col-md-4">
                <img src="https://picsum.photos/200/300" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                    <p class="card-text text-start"><small class="text-muted">{{book.author}}</small></p>
                    <p class="card-text">{{book.descritpion}}</p>
                    <a href="{% url 'book-info' book.id %}" class="btn btn-primary">More
                        information</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>




{% endblock content %}