{%extends 'base.html'%}

{% block content %}

<div class="container">

  <div class="d-flex align-items-center justify-content-center ">
    <h1>Your books:</h1>
  </div>
  <form method="POST">
  <table class="table table-striped-columns">
    <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Rent Date</th>
          <th scope="col">Return Date</th>
        </tr>
      </thead>
      <tbody>
        {% for rent in rents %}
       
        <tr>
          <td>{{rent.book.title}}</td>
          <td>{{rent.rent_date}}</td>
          <td>{{rent.return_date}}</td>
        </tr>
        
          {% endfor %}
      </tbody>
  </table>
</form>



</div>
{% endblock content %}