{%extends 'base.html'%}

{% block content %}

{% load crispy_forms_tags %}
<section class="vh-50 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light text-dark bg-opacity-50" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form method="POST" action="">
              {% csrf_token %}
              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                {{ register_form|crispy }}
                <button class="btn btn-outline-primary btn-lg px-5" type="submit">Sign Up</button>
              </div>
              <p class="mb-0">You have account already? <a href="{% url 'login' %}" class="text-dark-50 fw-bold">Log
                  in</a> </p>

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}